# This is a comment. Files to ignore
# git ls-files --others -i --exclude-standard  - to check ignored files
.htaccess
wp-content/themes/realest/bower_components
wp-content/themes/realest/node_modules
wp-local-config.php
wp-admin
wp-includes
wp-content
!wp-content/themes
!wp-content/plugins/show-current-template
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
