# This is a comment. Files to ignore
# git ls-files --others -i --exclude-standard  - to check ignored files
.htaccess
/*
wp-local-config.php
!/wp-content
/wp-content/*
!/wp-content/plugins
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/realest
!/wp-content/themes/realest/*
/wp-content/themes/realest/node_modules
/wp-content/themes/realest/bower_components
/wp-content/plugins/*
!/wp-content/plugins/show-current-template
!/wp-content/plugins/show-current-template/*